.Content{
    width: 80%;
    height: 400px;
    background:linear-gradient(to right, #745cf9, #4301a6);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width:800px){
    .Content{
        display: none;
    }
}